<h2 mat-dialog-title>{{ tituloAccion }} Vehicle</h2>

<mat-dialog-content>
  <form [formGroup]="formVehicleInfo">
    <mat-grid-list cols="1" rowHeight="80px">
      <mat-grid-tile>
        <mat-form-field appearance="outline">
          <mat-label>carMaker</mat-label>
          <input matInput autocomplete="off" formControlName="carMaker" />
          <mat-icon matSuffix>account-box</mat-icon>
        </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile>
        <mat-form-field appearance="outline">
          <mat-label>carModel</mat-label>
          <input matInput autocomplete="off" formControlName="carModel" />
          <mat-icon matSuffix>account-box</mat-icon>
        </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile>
        <mat-form-field appearance="outline">
          <mat-label>carYear</mat-label>
          <input matInput autocomplete="off" formControlName="carYear" />
          <mat-icon matSuffix>carYear</mat-icon>
        </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile>
        <mat-form-field appearance="outline">
          <mat-label>vin</mat-label>
          <input matInput autocomplete="off" formControlName="vin" />
          <mat-icon matSuffix>vin</mat-icon>
        </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile>
        <mat-form-field appearance="outline">
          <mat-label>licensePlate</mat-label>
          <input matInput autocomplete="off" formControlName="licensePlate" />
          <mat-icon matSuffix>licensePlate</mat-icon>
        </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile>
        <mat-form-field appearance="outline">
          <mat-label>currentMileage</mat-label>
          <input matInput autocomplete="off" formControlName="currentMileage" />
          <mat-icon matSuffix>currentMileage</mat-icon>
        </mat-form-field>
      </mat-grid-tile>
    </mat-grid-list>
  </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-raised-button mat-dialog-close color="warn">Volver</button>
  <button
    mat-raised-button
    color="primary"
    [disabled]="formVehicleInfo.invalid"
    (click)="VehicleCreateEdit()"
  >
    {{ buttonAccion }}
  </button>
</mat-dialog-actions>
