full-width {
  width: 100%;
}
table {
  width: 100%;
}
.example-form {
  min-width: 100%;
  max-width: 100%;
  width: 100%;
}
.campos-formulario {
  display: flex;
  align-items: flex-start;
}

.boton-buscar {
  width: 150px;
  margin-top: 26px;
}

mat-form-field {
  margin-right: 10px;
}

.input-filter {
  width: 100%;
  font-size: 14px;
}

table {
  width: 100%;
}
